* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.first {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(118, 128, 161, 0.7),
      rgba(119, 127, 157, 0.7)
    ),
    url(/images/iPhone.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
  height: 120px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.searchbar {
  width: 100%;
  max-width: 700px;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 50px;
  padding-top: 5px;
}
.searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 2px 1px;
  font-size: 15px;
  color: #fff;
}
.submit img {
  width: 20px;
  height: 20px;
}
.nav-links ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li a:hover::after {
  width: 100%;
}
::placeholder {
  color: rgb(4, 0, 0);
  padding-left: 10px;
}
.searchbar button img {
  width: 10px;
  height: 10px;
}
.searchbar button {
  border: 0;
  border-radius: 50%;
  margin-bottom: 9px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: #58629b;
  cursor: pointer;
}
.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 50px;
  color: #fff;
}
.text-box p {
  margin: 10px 0 30px;
  color: #fff;
  font-size: 14px;
}
.iPhone-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  color: #fff;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.iPhone-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.3s;
}
nav .fa {
  display: none;
}

/*---------------------Smaller Devices View--------------------*/

@media (max-width: 700px) {
  nav img {
    width: 110px;
    height: 130px;
  }
  .text-box p {
    font-size: 14px;
    color: #fff;
  }
  .samsung-explore-box p {
    font-size: 20px;
    color: #fff;
  }
  .rog-explore-box p {
    font-size: 20px;
    color: #fff;
  }
  .nav-links ul li a {
    font-size: 20px;
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .sub-header h1 {
    padding-top: 10px;
  }
}

/*---------------------------Samsung-------------------------*/

.Samsung {
  min-height: 110vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(118, 128, 161, 0.7),
      rgba(119, 127, 157, 0.7)
    ),
    url(/images/samsung.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.samsung-explore-box {
  width: 90%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.samsung-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  color: #fff;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.samsung-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.3s;
}
.samsung-explore-box h1 {
  font-size: 50px;
  color: #fff;
}
.samsung-explore-box p {
  margin: 10px 0 30px;
  color: #fff;
  font-size: 14px;
}

/*-------------------------------ROG Phone------------------------*/

.Rog {
  min-height: 110vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(118, 128, 161, 0.7),
      rgba(119, 127, 157, 0.7)
    ),
    url(/images/ROGPhone3.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.rog-explore-box {
  width: 90%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.rog-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  color: #fff;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.rog-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.3s;
}
.rog-explore-box h1 {
  font-size: 50px;
  color: #fff;
}
.rog-explore-box p {
  margin: 10px 0 30px;
  color: #fff;
  font-size: 14px;
}

/*----------------------------sub-header page------------------------*/

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(118, 128, 161, 0.7),
      rgba(119, 127, 157, 0.7)
    ),
    url(/images/about.png);
  background-position: center;
  background-size: cover;
  color: #fff;
}
.sub-header h1 {
  margin-top: 0;
  text-align: center;
  color: rgb(251, 253, 255);
}
/*--------------------------About Page---------------------*/

.about-us {
  width: 90%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col {
  float: left;
  padding: 30px 2px;
  width: 48%;
  display: table;
}
.about-col img {
  width: 100%;
}
.about-col h1 {
  padding-top: 0;
}
.about-col p {
  padding: 15px 0 25px;
}
.hero-btn {
  border: 1px solid #f44336;
  padding: 10px 20px;
  margin-left: 150px;
  text-decoration: none;
  background: transparent;
  color: #f44336;
}
.hero-btn:hover {
  color: #fff;
  background: #f44336;
  transition: 0.3s;
}
.test img {
  width: 100%;
}

/**----------------------------Contact Page----------------------------**/

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}
.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  opacity: 100;
}

/*-----------------------------Footer-----------------------*/

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}
.footer-content {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
.footer ul li {
  display: inline-block;
}
.footer ul li a {
  text-decoration: none;
}
.footer h4 {
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 600;
}
.social .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart-o {
  color: #f44336;
}
.contact-col .hero-btn {
  margin-left: 50px;
}

/*---------------------iPhone Page---------------------*/

.iPhone-page {
  background: rgb(124, 129, 155);
}
.iPhone-compare {
  font-family: "SF Pro Text", "SF Neue", "Helvetica", "Arial", sans-serif;
}
.iPhone-compare a {
  text-decoration: none;
  color: #06c;
  text-align: center;
}
.iPhone-compare h1 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 55px;
  line-height: 1.0625;
  font-weight: 600;
}
.iPhone-content {
  text-align: center;
  padding: 1px 6px;
  border-width: 2px;
  justify-content: space-between;
}
.iPhone-content a:hover {
  content: "";
  color: #06c;
  transition: 0.5s;
  border-bottom: solid 2px #06c;
}
.iPhone-select-dropdown {
  display: flex;
  align-items: center;
  padding: 10%;
  padding-top: 5%;
  justify-content: space-between;
}
.base,
.pro,
.max {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 95% 50%;
  font-size: 20px;
  margin-left: -45px;
  margin-right: -50px;
  width: 305px;
  height: 60px;
  appearance: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border-color: rgb(212, 207, 207);
  transition: 0.2s;
}
.base:hover,
.pro:hover,
.max:hover {
  content: "";
  border: solid 1px rgb(11, 11, 11);
}
label[for="base"],
label[for="pro"],
label[for="max"] {
  display: none;
}

/*-----------iPhone Color Change Buttons-------------*/

.iPhone13 img {
  width: 50%;
}
.colornav-buttons .colornav-items .colornav-item .colornav-link {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.colornav-buttons
  .colornav-items
  .colornav-item
  .colornav-link
  .colornav-label {
  visibility: hidden;
}
.colornav-items {
  display: inline-block;
  margin: 0 1px;
  padding-top: 17px;
}
